
.nav-style {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
    background-color: rgb(248, 246, 231);
}

.green {
    color: #99A98F !important;
}

.main {
    min-height: 100vh;
    height: auto;
    width: auto;
    padding-top: 85px;
}

.route-display {
    width: 100%;
    height: auto;
}

.display-el {
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1/1;
}

.custom-carousel {
    height: 100%;
    width: 100%
}

.carousel-item img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.shop-el {
    min-height: 400px;
}

